.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.step-circle-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4), 0 0 25px rgba(52, 211, 153, 0.2);
  animation: fadeInUp 0.8s ease;
  position: relative;
  z-index: 3;
  margin-top: 0;
}

.step-indicator-row {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2rem;
}

.step-content-default {
  position: relative;
  overflow: hidden;
}

.step-default {
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.footer-nav {
  margin-top: 2.5rem;
  display: flex;
}

.footer-nav.spread {
  justify-content: space-between;
}

.footer-nav.end {
  justify-content: flex-end;
}

.back-button {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 20px;
  transition: all 0.3s ease;
}



.back-button.inactive {
  pointer-events: none;
  opacity: 0.5;
  color: #a3a3a3;
}

.next-button {
  background: linear-gradient(120deg, #34d399, #06b6d4);
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 20px;
  transition: all 0.3s ease;
}

.next-button:hover {
  background: linear-gradient(120deg, #06b6d4, #34d399);
  box-shadow: 0 0 20px rgba(52, 211, 153, 0.4);
  color: white;
}

.next-button:active {
  background: linear-gradient(120deg, #06b6d4, #34d399);
}

.step-indicator {
  position: relative;
  cursor: pointer;
  outline: none;
}

.step-indicator-inner {
  display: flex;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-weight: 600;
  border: none;
  background-color: #06b6d4;
  color: white;
}

.active-dot {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 9999px;
  background-color: #fff;
}

.step-number {
  font-size: 0.875rem;
}

.step-connector {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 0.125rem;
  flex: 1;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: #52525b;
}

.step-connector-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(90deg, #34d399, #06b6d4);
}

.check-icon {
  height: 1rem;
  width: 1rem;
  color: #fff;
}

.step-content-default h3 {
  font-weight: bold;
  color: #34d399;
  margin-bottom: 10px;
}

.step-content-default p {
  font-weight: normal;
  color: white;
}
